NODE_ENV=development
DATABASE=mongodb://mo7medsalah7:zad1520zad@ds153947.mlab.com:53947/uno-market
MAIL_HOST=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
MAIL_USER=086d96a5285bc3
MAIL_PASS=4308b533a6eae4
MAIL_PORT=2525
MAP_KEY=pk.eyJ1IjoibW83bWVkc2FsYWg3IiwiYSI6ImNqczA5NXFnMjFjaHI0YXBrMjlpMDl2cXQifQ.A3d1Pg5tGvbXeS8FGMDuZg
SECRET="secret"
KEY=sweetsesh
