extends layout
block content
     .container
        a(href="/users/browse" class="h2") Back
        .new-market.my-5
            form(action=`/users/add/${item._id}` method="POST" enctype="multipart/form-data")
                .form-group
                    label(for="name") Item name
                    input(type="text" name="name" class="form-control" value=item.name)
                .form-group
                    label(for="description") Description
                    textarea(cols="5" rows="5" name="description" class="form-control" )= item.description
                .form-group
                    label(for="photo") Upload Photo
                    input(type="file" name="photo" class="form-control")
                .form-group
                    label(for="price") Price in $
                    input(type="text" name="price" class="form-control" value=item.price)
                button.btn.d-block Update